:root
{
    --bg-color: hsl(135, 65%, 39%);
    --text-color: hsl(0, 0%, 100%);
    --form-bg-color: hsl(0, 9%, 13%);
    --ans-color: hsl(136, 88%, 3%);
    --placeholder-color: hsl(0, 0%, 75%);
}
*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 2em 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.heading
{
    font-size: clamp(1.5rem, 8vw, 3rem);
    font-weight: 600;
    word-break: keep-all;
    word-wrap: none;
    text-align: center;
}

.subheading
{
    font-size: clamp(0.5rem, 3vw, 1rem);
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.form-container
{
    background-color: var(--form-bg-color);
    padding: 2em;
    padding-inline: max(3%,5ch);
    width: clamp(20rem, 70%, 80ch);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25em;
    border-radius: 8px;
}

.form__question
{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.form-ques
{
    margin-block-end: 0.5em;
}

.form-ans
{
    background-color: var(--ans-color);
    color: var(--placeholder-color);
    border: none;
    border-radius: 4px;
    padding: 1em;
    resize: none;
}

.form-ans:is(input[type="text"],input[type="email"],input[type="number"], textarea, select):focus-within
{
    outline: 0.1rem solid var(--bg-color);
}
.form-radio
{
    display: flex;
    color: var(--placeholder-color);
    transition: color 250ms ease;
    align-items: center;
    font-size: 95%;
    gap: 0.25em;
}

.form-radio input:checked
{
    background-color: var(--bg-color);  
    color: red; 
    transform: scale(1.2);
    accent-color: var(--bg-color);
}
.form-radio:hover, 
.form-radio>input:checked + label
{
    color: var(--text-color);
}
#form-ans2:invalid,
#form-ans3:invalid
{
    outline: 0.1rem solid red;
}


#form-ans7
{
    resize: vertical;
    min-height: 8em;
}


#submit-button
{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    width: fit-content;
    padding: 1em 1.25em;
    transition: background-color 250ms ease;
}

#submit-button:hover
{
    background-color: hsl(135, 70%, 25%);

}

@media (max-width:610px)
{
    body
    {
        font-size: 0.75rem;
        margin: 1em 2em;
        gap: 1em;
    }
    #submit-button
    {
        font-size: 0.75rem;
    }
    .form-container
    {
        padding: 2rem 1.5em;
    }
}